<%- include('header') %>
<div class="container user py-4" >
    <div class="alert text-center bg-danger my-4">
        <h1 class="mt-4 text-white"> CADASTRO DE CLIENTE </h1>
    </div>
        <hr />
    <div class="container my-3 ">
        <h3>CADASTRAR CLIENTE </h3>
    </div>
    <div class="card">
        <div class="card-body pb-5" data-set="data-row">
           
            <form method="POST"  action="/clients/new">
                <div class="row">
                    <div class="form-group col-md-7">
                        <label for="name">Cliente:</label>
                        <input type="text" class="form-control" id="name"   name='name' placeholder="Digite o Nome do(a) Cliente">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="name"> </label>
                        <input type="hidden" class="form-control" id="number" name='number' >
                    </div>
                    <div class="form-group col-md-3">
                        <label for="name">Data Nasc:</label>
                        <input type="text" class="form-control" id="birthday" name='birthday'  >
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name">Telefone:</label>
                        <input type="text" class="form-control" id="phone" name='phone' placeholder="(00) 00000-0000">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Email / Rede Social:</label>
                        <input type="text" class="form-control" id="socialMedia" name='socialMedia' placeholder="Digite o email ou uma rede social do cliente">
                    </div>
                </div>
                <p id="texto"></p>
                <button type="button" class="btn btn-primary mt-3 btn-confirm" onclick="captureData()" >Cadastrar Cliente</button>
                <a href="/"> <button type="button" class="btn btn-secondary ml-2 mt-3">Voltar</button></a>
                <button type="submit" id="createClientBtn" ></button>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto" id="exampleModalLabel"> Por favor, confirme os dados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" data="name">
        <form>
          <div class="row border-bottom">
            <div class="col-md-8">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Cliente:</label>
                  <h6  class="ml-2" id="recipient-name"></h6>
                </div>
            </div>
            <div class="col-md-4 ">
              <div class="form-group">
                <label for="message-text" class="col-form-label">Data Nasc:</label>
                <h6 class="ml-2" id="recipient-birthday"></h6>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-8 ">
              <div class="form-group">
                <label for="message-text" class="col-form-label">Email/Rede Social:</label>
                <h6 class="ml-2" id="recipient-socialMedia"></h6>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Telefone:</label>
                <h6 class="ml-2" id="recipient-phone"></h6>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" onclick="$('#createClientBtn').trigger('click')" class="btn btn-primary">Cadastrar</button>
      </div>
    </div>
  </div>
</div>

<script>
    let capureText = ""

    function captureData () {
        let capureText = document.getElementById('name').value 
        document.getElementById('recipient-name').innerHTML = capureText
        
        let capureTextBirthday = document.getElementById('birthday').value 
        document.getElementById('recipient-birthday').innerHTML = capureTextBirthday
        
        let capureTextPhone = document.getElementById('phone').value 
        document.getElementById('recipient-phone').innerHTML = capureTextPhone
        
        let capureTextSocialMedia = document.getElementById('socialMedia').value 
        document.getElementById('recipient-socialMedia').innerHTML = capureTextSocialMedia
    
     $('#exampleModal').modal('show')
  }         
         
      
</script>

<script type="text/javascript">
    $("#phone").mask("(99) 99999-9990")
    $("#birthday").mask("00/00/0000", { placeholder: " __/__/____" })
</script>


<%- include('footer') %></div>