<%- include('headerAdmin') %>

        <div class="adm container">
                <h1 class="mt-4 text-center"> Sistema de Gerenciamento de Lojas </h1>
                <hr />
                
                <div class=" container bg-admin" >
        
                </div>        
                
        </div>
        
    
<%- include('footer') %>