<%- include('header') %>

<div class="user container-fluid">
    <h2 class="mt-4 text-center"> Sistema de Gerenciamento Net Link </h2>
    <hr />
    
    <div class=" container bg-user" >
        
    </div>
</div>
       
    
<%- include('footer') %>