<div class="user-login">
    
    <%- include('header') %>


    <form action="/login"  method="post" class="box">
        <h1>Login</h1>
        <input type="text" name="user" placeholder="Usuário" >
        <input type="password" name="password" placeholder="Senha" >
        <button class="btnLogin" type="submit">Login </button>


    </form>
</div>

<%- include('footer') %>