body {
    margin: 0;
    padding: 0;
    background-color: #f1f2f6;
}
.bg-user{
    margin-top: 2em;
    background-image: url("/images/fotoloja.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: azure;
    min-height: 60vh;  
}
@media only screen and (max-width: 767px) {
.bg-user {
    min-height: 40vh; 
    }
}
.bg-admin{
    margin-top: 4em;
    background-image: url("/images/bgAdmin.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: azure;
    min-height: 60vh;  
}
@media only screen and (max-width: 767px) {
.bg-admin {
    margin-top: 3em;
    min-height: 40vh; 
    }
}
.bg-nos{
    margin-top: 4em;
    background-image: url("/images/paris24.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: azure;
    min-height: 60vh;  
}
@media only screen and (max-width: 767px) {
.bg-nos {
    margin-top: 3em;
    min-height: 40vh; 
    }
}

.hed{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(231, 9, 9);
    font-size: 3.2em;
    color: #ffffff;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    line-height: 1em;
    margin-top: 25px;
}
.hed h5{
    text-align: center;
    padding-top: 0;
    font-size: 0.4em;
    padding-bottom: 15px;
}
.footer{
    border-top: 1px solid #030303;
    bottom: 0;
    font-size: 0.4em;
    text-align: center;
    align-items: center;
    padding-top: 50px;
}
.adm{
    min-height: 95vh;
}
.user{
    min-height: 95vh;
}
.link{
    color: black;
    font-weight: 700;
}
.link:hover{
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.2em;
    color: red;
}
.user-login{
    min-height: 95vh;
    background:#34495e;
}
.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    
}
.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = 'text']  {
    border: 0;
    background: none;
    display: block;
    height: 40px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    width: 200px;
    outline: none;
    border-radius: 25px;
    transition: 0.25s;
    color: white;
    font-weight: 500;
}
.box input[type = 'password'] {
    border: 0;
    background: none;
    display: block;
    height: 40px;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    width: 200px;
    outline: none;
    border-radius: 18px;
    transition: 0.25s;
    color: white;
    font-weight: 500;
}
.box input[type = 'text']:focus, .box input[type = 'password']:focus {
width: 280px;
border-color: #2ecc71;
}
.btnLogin {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding:  14px 80 px;
    outline: none;
    color: white;
    width: 150px;
    border-radius: 18px;
    transition: 0.25s;
    cursor: pointer;
}
.btnLogin:hover {
    background: #f30d0d;
    color:white;
}
#confirmBtn {
display: none;
}